html{
    font-family: monospace;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #a59446e5;
    height: 90%;
}
header {
    width: 100%;
    background-color: #9e8911d8;
}


h1 {
    text-align: right;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 6vh;
}

h3 {
    font-size: 3vh;
    color: rgb(0, 0, 0);
}

main{
    display: block;
    height: 75%;
    
}

.container{
    background-color: rgba(170, 122, 19, 0.349);
    height:80%;
    width: 25%;
    margin: auto;
    text-align: left;
    padding: 10px;
    border: 5px;
    border-radius: 3%;
}


.publickKey{
    background-color: antiquewhite;
    height: 80px;
    width: 80px;
}







::-webkit-scrollbar {
    width: 6px;
    background-color: black;
    
    }
    
    ::-webkit-scrollbar-thumb {
    background-color:   #534402 ;
    }
    
    ::-webkit-scrollbar-track {
    -webkit-box-shadow; inset 1px 1px 6px rgba(0,0,0,0.3);
    background-color: #af9007d2;
    }