html{
    font-family: monospace;
}
body{
    margin: 0;
    padding: 0;
    background-color: #a59446e5;
}
header {
    width: 100%;
    background-color: #9e8911d8;
}


h1 {
    text-align: right;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 45px;
}


button{
    size: 200px;
}

main{
    display: block;
}

.container{
    background-color: rgba(170, 122, 19, 0.349);
    height: 350px;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 5px;
    border-radius: 3%;
}

 input[type="text"]{
     width: 300px;
     height: 50px;
     padding-left: 10px;
     font-size: 20px;
     background-color: bisque;
     border: 0px;
     border-radius: 7px;
 }

#ln{
    padding: 15px 65px;
    margin: 30px 0 20px 0; 
    font-size: 15px;
    background-color: bisque;
    border: 0px;
    border-radius: 7px;
}


footer{
    size: 25px;
}






::-webkit-scrollbar {
    width: 6px;
    background-color: black;
    
    }
    
    ::-webkit-scrollbar-thumb {
    background-color:   #534402 ;
    }
    
    ::-webkit-scrollbar-track {
    -webkit-box-shadow; inset 1px 1px 6px rgba(0,0,0,0.3);
    background-color: #af9007d2;
    }