<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/main_Screen.css">
    <title> CCoffee </title>
</head>
<body>
	<header>
		<h1>CCoffee</h1>
	</header> 
	<main>
		<div class="container">		
			<h3>PublickKey</h3>
			<label for="PublickKey" class="publickKey">
			{% if message %}
				<p>{{ message }}</p>
			{% endif %}
			</label>
			<br>
			<h3>Balance</h3>
			<label for="PublickKey" class="publickKey"></label>
		</div>
	</main>
	<div class="footer">
		<hr>
		<footer>
			<div class="copyright"> 
				© CCofee 
			</div> 
		</footer>
	</div>
</body>
</html>

